.login-container {
  width: 300px;
  margin: 0 auto;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 0 5px #444444;
  padding: 20px;

  form {
    width: 220px;
    margin: 0 auto;
  }

  mat-form-field {
    display: block;
    width: 100%;
  }

  .logo {
    font-size: 25px;
    text-align: center;
    margin: 20px 0;
  }
}
