<div class="login-container">
  <div class="logo">
    <span>Automation Standard</span>
  </div>

  <form [formGroup]="userLoginForm" ngxsForm="authUser.loginUserForm" fxLayoutGap="25px">
    <mat-form-field >
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput type="password">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="login()" [disabled]="userLoginForm.invalid">Log in</button>
  </form>
</div>
