<div class="shortcuts-container">
  <h2>Shortcuts</h2>
  <div  fxLayout="row" fxLayoutAlign="space-around center" >
    <div class="shortcut" fxLayout="column" fxLayoutAlign=" center" [routerLink]="'/service'">
      <div class="shortcut-image">
        <mat-icon>dashboard</mat-icon>
      </div>
      <div class="shortcut-title">Services</div>
    </div>
    <div class="shortcut" fxLayout="column" fxLayoutAlign=" center" [routerLink]="'/reports'">
      <div class="shortcut-image">
        <mat-icon>layers</mat-icon>
      </div>
      <div class="shortcut-title">Reports</div>
    </div>
    <a class="shortcut" fxLayout="column" fxLayoutAlign=" center" [routerLink]="'/logs'">
      <div class="shortcut-image">
        <mat-icon>history</mat-icon>
      </div>
      <div class="shortcut-title">Logs</div>
    </a>
  </div>
</div>
