.shortcuts-container {
  .shortcut {
    border: 1px solid #d6d6d6;
    width: 300px;
    border-radius: 3px;
    box-shadow: 0 0 3px #d6d6d6;
    padding: 30px;
    margin: 20px 0;
    color: white;
    background-color: #51687b;
    cursor: pointer;

    &:hover {
      border-color: #6c6c6c;
      box-shadow: 0 0 5px #6c6c6c;
    }

    .shortcut-image {
      width: 50px;
      height: 70px;

      mat-icon {
        font-size: 50px;
      }
    }

    .shortcut-title {
      font-size: 30px;
    }
  }
}
