<mat-toolbar fxLayoutAlign="start center" class="header">
  <div class="logo">
    <button mat-button [matMenuTriggerFor]="plantMenu">
      {{plantData.name}}
      <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #plantMenu="matMenu">
      <ng-template ngFor let-plant [ngForOf]="userData.availablePlants">
        <button mat-menu-item *ngIf="plant.id !== plantData.id" (click)="changePlant(plant)">
          <span >{{plant.name}}</span>
        </button>
        <button mat-menu-item *ngIf="userData.availablePlants.length === 1">
          No available plants
        </button>
      </ng-template>
    </mat-menu>
  </div>

  <span fxFlex></span>

  <img src="./assets/images/user-img.jpg" class="user-avatar"/>
  <button mat-button [matMenuTriggerFor]="userMenu">
    {{userData.firstName}} {{userData.lastName}}
    <mat-icon>arrow_drop_down</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item [routerLink]="'/profile'" routerLinkActive="active-link">
      <mat-icon>manage_accounts</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>lock</mat-icon>
      <span>Log out</span>
    </button>
  </mat-menu>
</mat-toolbar>

