.table-container {
  padding: 20px;

  table {
    width: 100%;

    tr {
      th {
        font-size: 14px;
        color: #435d73;
        background-color: #d0d0d0;
      }
    }

    td {
      height: 20px;
    }

    .mat-row:nth-child(even){
      background-color: #f1f1f1;
    }

  }
}
