Admin panel -> User management
<h2>User Management List</h2>

<div class="action-buttons" fxLayoutAlign="space-between center">
  <div></div>
  <button mat-raised-button color="primary" routerLink="/user-management/create">Create user</button>
</div>

<app-user-management-grid
    [userManagementList$]="userManagementList$"
    [displayedColumns]="displayedColumns"
    (openUserDetailsDialog)="openUserDetailsDialog($event)"
    (deleteUser)="deleteUser($event)"
></app-user-management-grid>
