.table-container {
  padding: 20px;

  table {
    width: 100%;

    tr {
      th {
        font-size: 14px;
        color: #435d73;
        background-color: #d0d0d0;
      }
    }

    td {
      height: 20px;
    }

    .mat-cell {
      border-bottom: none;
    }

    .mat-row:nth-child(even){
      background-color: #f1f1f1;
    }

  }

  .bpmn-action mat-icon {
    cursor: pointer;
  }

  .user-name-link {
    cursor: pointer;
    text-decoration: underline;
  }
}

