<div class="table-container">
  <table mat-table [dataSource]="userManagementList$ | async" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef width="40">ID</th>
      <td mat-cell *matCellDef="let element"  class="bpmn-action">{{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>User Name</th>
      <td mat-cell *matCellDef="let element">
        <a (click)="onOpenUserDetails(element.id)" class="user-name-link">
          {{element.firstName}} {{element.lastName}}
        </a>
      </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">
          {{element.email}}
      </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef width="150px">Role</th>
      <td mat-cell *matCellDef="let element">
        {{element.userRole.displayName || '-'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="streetAddress">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let element">
          {{element.streetAddress  || '-'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="secondStreetAddress">
      <th mat-header-cell *matHeaderCellDef>Sec. Address</th>
      <td mat-cell *matCellDef="let element">
          {{element.secondStreetAddress  || '-'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef>Country</th>
      <td mat-cell *matCellDef="let element">
          {{element.country  || '-'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef width="60px">City</th>
      <td mat-cell *matCellDef="let element">
          {{element.city || '-'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef width="60px">State</th>
      <td mat-cell *matCellDef="let element">
          {{element.state || '-'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="zipCode">
      <th mat-header-cell *matHeaderCellDef width="60px">Zip Code</th>
      <td mat-cell *matCellDef="let element">
          {{element.zipCode || '-'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef width="60px"></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon (click)="onDelete(element.id)">delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
