table{
	border: 1px solid #eee;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 20px;
    border-collapse: collapse;
}
td{
    padding: 10px;
}
tr:nth-child(2n) {
    background: #e8edff;
  }
  tr:nth-child(1) {
    font-weight: bold;
  }

button{
    font-weight: bold;
    margin: 10px;
    padding: 10px;
}
button:hover{
    color:red;
}
.table-heading{
    border-bottom: 3px;
}
.delete{
    cursor: pointer;
}
