$white: #fff;

//Greys
$white-smoke: #f5f5f5;
$whisper: #ececec;
$very-light-grey: #cecece;
$gainsboro: #d8d8d8;
$silver: #bababa;
$nobel: #9f9f9f;
$silver-border: #bdbdbd;
$grey40: #666;
$grey: #757575;
$dark-gray-color: #464648;
$night-rider: #333;
$gray-light: #e3e3e3;

//Blue
$navy-blue: #1a79db;
$dark-cerulean: #0e4e90;
$midnight: #212d3d;

//Buttons
$base-button: $dark-cerulean;
$hover-base-button: #2076ce;
$hover-secondary-button: #e6edf3;
$greyed-out-button: #f0f0f0;

//Text
$basic-text-color: rgba(0, 0, 0, 0.7);
$greyed-out-text-color: $silver;


$ag-header-color: rgba(0, 0, 0, 0.54);
$ag-grid-border-color: rgba(0, 0, 0, 0.96);

$ag-grid-header-background: #e0e0e0;
$ag-grid-leading-cell-border: bsmx-color(border-color);
$ag-grid-range-selection-background: rgba(0, 145, 234, 0.2);
$ag-grid-rows-selected-background: rgba(14, 78, 144, 0.2);

//Dynamic cells
$ag-grid-dynamic-cells-padding: 5px;
$ag-grid-dynamic-cells-text-aligment: center;

//Editable cells
$ag-grid-editable-cells-border: $ag-grid-border-color;
$ag-grid-editable-cells-offset: 3px;
$ag-grid-editable-disabled-cell-background: rgba(0, 0, 0, 0.1);

//Fields
$error-field: #f24e4e;
$focus-field: #0b589b;
