$ag-header-height: 32px;
$ag-header-cell-text: #455a64;
$ag-border-color: #bababa;
$ag-header-font-size: 11px;
$grid-toolbar-height: 50px;

// Font
$font-family-main: 'Roboto', 'Helvetica Neue', Arial, sans-serif;

//Font weight
$roboto-thin: 100;
$roboto-light: 300;
$roboto-regular: 400;
$roboto-medium: 500;
$roboto-bold: 700;
$roboto-black: 900;

// Transformation
$transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);

