<div class="reports-container" >
  <h2>Loadings</h2>

  <form [formGroup]="cargoForm" (ngSubmit)="save()" >
    <div fxLayout="row" fxLayoutGap="12px">
      <mat-form-field fxFlex="40">
        <mat-label>Машина</mat-label>
        <input formControlName="carType" matInput/>
      </mat-form-field>
      <mat-form-field fxFlex="40">
        <mat-label>Водитель</mat-label>
        <input formControlName="driverName" matInput/>
      </mat-form-field>
      <button mat-button type="button" (click)="addLine()" fxFlex="10" >Add</button>
      <button mat-button type="submit" [disabled]="cargoForm.invalid" fxFlex="10" >Save</button>
    </div>

    <div formArrayName="positions" *ngFor="let position of positions.controls; let i = index" >
      <div [formGroupName]="i" fxLayout="row" fxLayoutGap="12px">
        <mat-form-field fxFlex="25">
          <mat-label>Тип метала</mat-label>
          <input formControlName="metal" matInput />
        </mat-form-field>
        <mat-form-field fxFlex="25">
          <mat-label>Вес</mat-label>
          <input formControlName="weight" matInput />
        </mat-form-field>
      </div>
    </div>



  </form>


</div>
