<div class="sidebar-container" *ngIf="!isLoginPage()">
  <div class="sidebar-logo">AS</div>
  <div class="sidebar-menu">
    <a fxLayoutAlign="start center" [routerLink]="'/dashboard'" routerLinkActive="active-link">
      <mat-icon>dashboard</mat-icon>
      <div>Dashboard</div>
    </a>
    <a fxLayoutAlign="start center" [routerLink]="'/loadings'" routerLinkActive="active-link">
      <mat-icon>local_shipping</mat-icon>
      <div>Loadings</div>
    </a>
    <a fxLayoutAlign="start center" [routerLink]="'/user-management'" routerLinkActive="active-link">
      <mat-icon>group</mat-icon>
      <div>Manage users</div>
    </a>

  </div>
</div>
