
.sidebar-container {
  overflow: hidden;
  z-index: 1;
  transition: width 300ms;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 60px;
  border: 1px solid #000;
  background-color: #3f5568;
  color: white;

  &:hover {
    width: 200px;
  }

  .sidebar-logo {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
  }

  .sidebar-menu {
    margin-top: 20px;

    a {
      padding: 7px 5px 7px 18px;
      cursor: pointer;
      width: 200px;
      color: white;
      text-decoration: none;

      &:hover {
        background-color: #546f86;
      }

      &.active-link {
        background-color: #21384c;
      }

      .mat-icon {
        margin-right: 20px;
      }
    }
  }
}
