<div class="app-default-modal">
  <div [id]="config.id" class="bsmx-modal">
    <div id="modal-header" class="bsmx-modal-header">
      <div [innerHTML]="config.headerText"></div>
    </div>
    <div id="modal-body" class="bsmx-modal-body" fxLayout="row" fxLayoutAlign=" center">
      <div [innerHTML]="config.bodyText"></div>
    </div>
    <div id="modal-footer" class="bsmx-modal-footer" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
      <button *ngIf="config.cancelButton" id="cancel" mat-button mat-dialog-close>{{config.cancelButton}}</button>
      <button id="submit" type="submit" mat-raised-button color="primary"
        (click)="submitFn()">{{config.okButton}}</button>
    </div>
  </div>
</div>
