@import '../../styles/variables';
@import '../../styles/colors';

.cdk-overlay-pane {
  height: auto !important;
}

.app-default-modal {
  height: 100%;
}

.bsmx-modal {
  &-body {
    color: $night-rider;
    font-family: $font-family-main;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 16px;
  }

  &-header {
    color: $night-rider;
    font-family: $font-family-main;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 18px;
  }
}

button#cancel {
  span {
    color: $dark-cerulean;
    font-weight: $roboto-medium;
  }
}

button#submit {
  box-shadow: none;
}
