<div class="charts-container" >
  <h2>Charts</h2>
  <div  fxLayout="row" fxLayoutAlign="space-around center" >
    <google-chart title="Gem Alerts" type="AreaChart"  [data]="baseChart.data" [options]="baseChart.options">
    </google-chart>

    <google-chart title="Danger Zones Alerts" type="ColumnChart"  [data]="baseChart.data" [options]="baseChart.options">
    </google-chart>

    <google-chart title="All Alerts" type="PieChart"  [data]="pieChart.data" [options]="pieChart.options">
    </google-chart>
  </div>
</div>
