.header {
  box-shadow: 0 0 5px #000;
  margin-bottom: 20px;

  .logo {
    color: #000000;
    text-decoration: none;
  }

  .user-avatar {
    border-radius: 20px;
    height: 40px;
  }
}

.content-container {
  margin-left: 60px;
}

.content {
  padding: 20px;
}
