<div fxLayout="row" fxLayoutAlign="space-between center" class="mat-snack-bar-row">
  <div *ngIf="snackBarError()">
    <ul>
      <li *ngFor="let error of data.message">{{error}}</li>
    </ul>
  </div>
  <div *ngIf="!snackBarError()">{{data.message}}</div>
  <button *ngIf="data.confirmButton" class="snack-button-confirm" (click)="onSnackBarConfirm()">{{data.confirmButton}}</button>
  <button class="snack-button-cancel" (click)="onSnackBarClose()"><mat-icon>clear</mat-icon></button>
</div>
