@import '../../styles/variables';

.mat-snack-bar-container {
  background-color: #333;
  border-radius: 2px;
  height: 48px;
  margin-top: 62px;
  padding: 0;
}

.mat-snack-bar-row {
  color: #fafafa;
  font-family: $font-family-main;
  font-size: 14px;
  font-weight: $roboto-light;
  height: 100%;
  letter-spacing: 0;
  line-height: 24px;
  padding: 12px 12px 12px 16px;
}

.global-handler {
  background-color: #db4439;
  border-radius: 0;
  margin: 0;
  max-width: none;
  width: 100vw;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  padding: 0;
}

.snack-button {
  &-confirm {
    color: #1a79db;
  }

  &-cancel {
    .mat-icon {
      color: #fff;
      font-size: 14px;
      height: 14px;
      padding: 5px;
      width: 14px;
    }
  }
}
