<h1 mat-dialog-title>
  {{config.headerText}}
</h1>
<div class="description">{{config.bodyText}}</div>
<div mat-dialog-content>
  <form [formGroup]="userDetailsForm" ngxsForm="userManagement.userDetailsForm" ngxsFormDebounce="-1"
        fxLayout="column"
        (ngSubmit)="onSubmit()"
        id="createBillForm" ngxsFormClearOnDestroy=true>
    <div fxLayout="row" fxLayoutGap="12px">
      <mat-form-field>
        <mat-label><span>First Name *</span></mat-label>
        <input formControlName="firstName" matInput/>
      </mat-form-field>
      <mat-form-field>
        <mat-label><span>Last Name *</span></mat-label>
        <input formControlName="lastName" matInput/>
      </mat-form-field>
      <mat-form-field>
        <mat-label><span>Email *</span></mat-label>
        <input formControlName="email" matInput/>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="12px">
      <mat-form-field>
        <mat-label><span>Street Address *</span></mat-label>
        <input formControlName="streetAddress" matInput/>
      </mat-form-field>
      <mat-form-field>
        <mat-label><span>Second Street Address *</span></mat-label>
        <input formControlName="secondStreetAddress" matInput/>
      </mat-form-field>
      <mat-form-field>
        <mat-label><span>City *</span></mat-label>
        <input formControlName="city" matInput/>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="12px">
      <mat-form-field>
        <mat-label><span>State *</span></mat-label>
        <input formControlName="state" matInput/>
      </mat-form-field>
      <mat-form-field>
        <mat-label><span>Country *</span></mat-label>
        <input formControlName="country" matInput/>
      </mat-form-field>
      <mat-form-field>
        <mat-label><span>Zip Code *</span></mat-label>
        <input formControlName="zipCode" matInput/>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="12px">
      <mat-form-field >
        <mat-label>Available Plants *</mat-label>
        <mat-select formControlName="availablePlantsIds" multiple>
          <mat-option *ngFor="let option of availablePlants" [value]="option.id">
            {{option.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field >
        <mat-label>User Role *</mat-label>
        <mat-select formControlName="userRoleId">
          <mat-option *ngFor="let option of userRoles" [value]="option.id">
            {{option.displayName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-actions fxLayout fxLayoutAlign="end center"></div>

  <div fxLayout="row">
    <div fxlayoutalign="start" class="required-label">* Mandatory Fields</div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
    <button mat-flat-button class="cancel-schedule-btn" *ngIf="config.cancelButton" mat-button mat-dialog-close>
      {{config.cancelButton}}
    </button>
    <button mat-flat-button id="saveScheduleLineBtn" type="submit" mat-button
            [disabled]="userDetailsForm.invalid" color="primary">{{config.okButton}}
    </button>

</div>
  </form>

